
{% extends "base.html" %}

{% load static %}

{% block main %}

<main>
    <div class="position-relative">
       <!-- Hero for version -->
       <section class="section section-lg section-hero section-shaped" >
          <!-- Background circles -->
          <div class="shape shape-style-1 shape-primary">
             <span class="span-150"></span>
             <span class="span-50"></span>
             <span class="span-50"></span>
             <span class="span-75"></span>
             <span class="span-100"></span>
             <span class="span-75"></span>
             <span class="span-50"></span>
             <span class="span-100"></span>
             <span class="span-50"></span>
             <span class="span-100"></span>
          </div>
          <div class="container shape-container d-flex align-items-center py-lg" >
             <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                   <div class="col-lg-6 text-center">
                      <img src="{% static 'assets/img/brand/white.png' %}" style="width: 200px;" class="img-fluid">
                      <p class="lead text-white">A categorized directory of libraries and tools for the Flutter SDK.</p>
                   </div>
                </div>
             </div>
          </div>
          <form>
             <div class="row align-items-center justify-content-center">
                <div class="col-lg-6">
                   <div class="form-group">
                      <div class="input-group input-group-alternative mb-4">
                         <div class="input-group-prepend">
                            <div class="btn-group">
                               <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Items</button>
                               <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">All Items</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                               </div>
                            </div>
                         </div>
                         <input class="form-control form-control-alternative px-4" placeholder="Search Projects" type="text">
                         <div class="input-group-append">
                            <button class="btn btn-icon btn-2 btn-primary" type="button">
                            <i class="fa fa-search"></i>
                            </button>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </form>
          <!-- SVG separator -->
          <!-- <div class="separator separator-bottom separator-skew zindex-100">
             <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
               <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
             </svg>
             </div> -->
       </section>
    </div>
    <section class="section-sm  m-5 ">
       <div class="row align-items-around justify-content-around">
          <div class="col-lg-3 ">
             <h6 class="text-primary text-uppercase text-center">SHOW ONLY</h6>
             <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-text" role="tablist">
                <li class="nav-item">
                   <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false">Free</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false">Demo</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-4-tab" data-toggle="tab" href="#tabs-text-4" role="tab" aria-controls="tabs-text-4" aria-selected="false">Paid</a>
                </li>
             </ul>
          </div>
          <!-- <div class="col-lg-3">
             <h6 class="text-primary text-uppercase text-center">CATEGORY</h6>
             
             <div class="">
                 dropdown d-inline-block
                 <button type="button" class="btn btn-secondary dropdown-toggle btn-lg btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Categories</button>
                 <div class="dropdown-menu">
                   <input class="form-control form-control-muted" placeholder="Search" type="text">
                   <a class="dropdown-item" href="#">All Categories</a>
                   <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="#">Another action</a>
                   <a class="dropdown-item" href="#">Something else here</a>
                   
                 </div>
             </div>
             
             </div> -->
          <div class="col-lg-3 ">
             <h6 class="text-primary text-uppercase text-center">SORT BY</h6>
             <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-text" role="tablist">
                <li class="nav-item">
                   <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">Latest</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false">Ratings</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false">Name</a>
                </li>
             </ul>
          </div>
       </div>
       <div class= "bricklayer">
          <div class="card card-lift--hover shadow border-0 my-5 mx-2">
             <div class="card-body py-4">
                <a class="text-primary text-uppercase">Track Eyes </a>
                <a class="pull-right">
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                </a>
                <div>
                   <a href="#" class="badge badge-pill badge-primary">Camera</a>
                   <a href="#" class="badge badge-pill badge-success">Free</a>
                </div>
                <p class="description mt-3">A simple android app tracks your eyes, sas ds ad sasd detects your face and pauses/ resumes a video playing according to that. Built using Google Vision API, Android Studio and lots of code for learning purposes.</p>
                <div class="text-center">
                   <img src="https://marcinszalek.pl/wp-content/uploads/2018/05/ff_16.gif" class="card-img-w50">
                </div>
                <div>
                   <a href="#" class="badge badge-pill badge-primary mt-4"> 
                   <i class="fa fa-user mr-2"></i>
                   1Sarthak Verma
                   </a>
                </div>
             </div>
          </div>
          <div class="card card-lift--hover shadow border-0 my-5 mx-2" >
             <div class="card-body py-4">
                <a class="text-primary text-uppercase">Track Eyes </a>
                <a class="pull-right">
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
               
                </a>
                <div>
                   <a href="#" class="badge badge-pill badge-primary">Camera</a>
                   <a href="#" class="badge badge-pill badge-success">Free</a>
                </div>
                <p class="description mt-3">A simple android app tracks your eyes, sas ds ad sasd detects your face and pauses/ resumes a video playing according to that. Built using Google Vision API, Android Studio and lots of code for learning purposes.</p>
                <div class="text-center">
                   <!-- <img src="https://marcinszalek.pl/wp-content/uploads/2018/05/ff_16.gif" class="card-img-w50"> -->
                </div>
                <div>
                   <a href="#" class="badge badge-pill badge-primary mt-4"> 
                   <i class="fa fa-user mr-2"></i>
                   2Sarthak Verma
                   </a>
                </div>
             </div>
          </div>
          <div class="card card-lift--hover shadow border-0 my-5 mx-2" >
             <div class="card-body py-4">
                <a class="text-primary text-uppercase">Track Eyes </a>
                <a class="pull-right">
                <i class="fa fa-star star-checked"></i>
                <span class="fa fa-star star-checked"></span>
                <span class="fas fa-star star-checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                </a>
                <div>
                   <a href="#" class="badge badge-pill badge-primary">Camera</a>
                   <a href="#" class="badge badge-pill badge-success">Free</a>
                </div>
                <p class="description mt-3">A simple android app tracks your eyes, sas ds ad sasd detects your face and pauses/ resumes a video playing according to that. Built using Google Vision API, Android Studio and lots of code for learning purposes.</p>
                <div class="text-center">
                   <img src="https://marcinszalek.pl/wp-content/uploads/2018/05/ff_16.gif" class="card-img-w50">
                </div>
                <div>
                   <a href="#" class="badge badge-pill badge-primary mt-4"> 
                   <i class="fa fa-user mr-2"></i>
                   3Sarthak Verma
                   </a>
                </div>
             </div>
          </div>
          <div class="card card-lift--hover shadow border-0 my-5 mx-2">
             <div class="card-body py-4">
                <a class="text-primary text-uppercase">Track Eyes </a>
                <a class="pull-right">
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                </a>
                <div>
                   <a href="#" class="badge badge-pill badge-primary">Camera</a>
                   <a href="#" class="badge badge-pill badge-success">Free</a>
                </div>
                <p class="description mt-3">A simple android app tracks your eyes, sas ds ad sasd detects your face and pauses/ resumes a video playing according to that. Built using Google Vision API, Android Studio and lots of code for learning purposes.</p>
                <div class="text-center">
                   <!-- <img src="https://marcinszalek.pl/wp-content/uploads/2018/05/ff_16.gif" class="card-img-w50"> -->
                </div>
                <div>
                   <a href="#" class="badge badge-pill badge-primary mt-4"> 
                   <i class="fa fa-user mr-2"></i>
                   4Sarthak Verma
                   </a>
                </div>
             </div>
          </div>
          <div class="card card-lift--hover shadow border-0 my-5 mx-2" >
             <div class="card-body py-4">
                <a class="text-primary text-uppercase">Track Eyes </a>
                <a class="pull-right">
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                </a>
                <div>
                   <a href="#" class="badge badge-pill badge-primary">Camera</a>
                   <a href="#" class="badge badge-pill badge-success">Free</a>
                </div>
                <p class="description mt-3">A simple android app tracks your eyes, sas ds ad sasd detects your face and pauses/ resumes a video playing according to that. Built using Google Vision API, Android Studio and lots of code for learning purposes.</p>
                <div class="text-center">
                   <img src="https://marcinszalek.pl/wp-content/uploads/2018/05/ff_16.gif" class="card-img-w50">
                </div>
                <div>
                   <a href="#" class="badge badge-pill badge-primary mt-4"> 
                   <i class="fa fa-user mr-2"></i>
                   5Sarthak Verma
                   </a>
                </div>
             </div>
          </div>
          <div class="card card-lift--hover shadow border-0 my-5 mx-2">
             <div class="card-body py-4">
                <a class="text-primary text-uppercase">Track Eyes </a>
                <a class="pull-right">
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star star-checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                </a>
                <div>
                   <a href="#" class="badge badge-pill badge-primary">Camera</a>
                   <a href="#" class="badge badge-pill badge-success">Free</a>
                </div>
                <p class="description mt-3">A simple android app tracks your eyes, sas ds ad sasd detects your face and pauses/ resumes a video playing according to that. Built using Google Vision API, Android Studio and lots of code for learning purposes.</p>
                <div class="text-center">
                   <!-- <img src="https://marcinszalek.pl/wp-content/uploads/2018/05/ff_16.gif" class="card-img-w50"> -->
                </div>
                <div>
                   <a href="#" class="badge badge-pill badge-primary mt-4"> 
                   <i class="fa fa-user mr-2"></i>
                   6Sarthak Verma
                   </a>
                </div>
             </div>
          </div>

          
       </div>
    </section>
 </main>
    {% endblock main %}
  
  
