{% extends "base.html" %}

{% load static %}

{% block main %}

<main class="profile-page">
        <section class="section-profile-cover section-shaped my-0">
           <!-- Circles background -->
           <div class="shape shape-style-1 shape-primary alpha-4"> 
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
           </div>
           <div class="container shape-container d-flex align-items-start py-lg" >
              <div class="col px-0">
                 <div class="row align-items-center justify-content-center">
                    <div class="col-lg-12 text-center">
                       <h1 class="display-1 text-white mt-5">Awesome Project Name</h1>
                       <a href="#" class="badge badge-pill badge-white">Awesome Category</a>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <section class="section">
           <div class="container-fluid">
              <div class="card card-profile shadow mt--300 mx-lg">
                 <div class="px-4">
                    <div class="row justify-content-center">
                       <div class="col-lg-3 order-lg-2">
                          <div class="card-profile-image">
                             <a href="#">
                             <img src="{% static 'assets/img/theme/karx.jpeg' %}" class="rounded-circle">
                             </a>
                          </div>
                          <div class="text-center mt-xxl">
                             <h3>Sarthak Verma
                             </h3>
                             <div class="h6 font-weight-300 mt-2">(Project Owner)</div>
                          </div>
                          <!-- <div class="text-center mt-5">
                             <img src="{% static 'assets/img/theme/small-contributor.jpeg' %}" class="avatar shadow">
                             <img src="{% static 'assets/img/theme/small-contributor.jpeg' %}" class="avatar shadow">
                             <img src="{% static 'assets/img/theme/small-contributor.jpeg' %}" class="avatar shadow">
                             <div class="h6 font-weight-300 mt-4">(Project Contributors)</div>
                          </div> -->

                          <div class="text-center mt-5">
                              <div class="avatar-group">
                                    <a href="#!" class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="{% static 'assets/img/theme/small-contributor.jpeg' %}">
                                    </a>
                                    <a href="#!" class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="{% static 'assets/img/theme/small-contributor.jpeg' %}">
                                    </a>
                                    <a href="#!" class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="{% static 'assets/img/theme/small-contributor.jpeg' %}">
                                    </a>
                                    <a href="#!" class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="{% static 'assets/img/theme/small-contributor.jpeg' %}">
                                    </a>
                        
                                </div>
                                <div class="h6 font-weight-300 mt-4">(Project Contributors)</div>
                          </div>
                       </div>
                       <!-- <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center"> -->
                       <div class="col-lg-4 order-lg-1">
                          <div class="text-center mt-5 border-bottom">
                             <h3>General Details</h3>
                          </div>
                          <div class="card-profile-stats d-flex justify-content-center">
                             <div>
                                <span class="heading"><a href="#" class="badge badge-pill badge-success mb-1">
                                <i class="fa fa-rupee-sign mr-1"></i>
                                Free
                                </a></span>
                                <span class="description">CATEGORY</span>
                             </div>
                             <div>
                                <span class="heading"><a href="#" class="badge badge-pill badge-default mb-1">
                                <i class="fab fa-github mr-1"></i>
                                Github
                                </a></span>
                                <span class="description">LINK</span>
                             </div>
                             <div>
                                <span class="heading"><a href="#" class="badge badge-pill badge-primary mb-1">
                                <i class="fa fa-tag mr-1"></i>
                                TagOne
                                </a></span>
                                <span class="description">TAG</span>
                             </div>
                          </div>
                          <div class="card-profile-stats d-flex justify-content-center">
                             <div class="my-auto">
                                <span class="heading"><a class="badge badge-pill badge-secondary mb-1">
                                <i class="fa fa-star mr-1"></i>
                                4.5
                                </a></span>
                                <span class="description">RATINGS</span>
                             </div>
                             <div>
                                <img src="{% static 'assets/img/theme/small-contributor.jpeg' %}" class="avatar">
                                <span class="description">REGISTRAR</span>
                             </div>
                             <div class="my-auto">
                                <span class="heading"><a class="badge badge-pill badge-secondary mb-1">
                                <i class="fa fa-calendar mr-1"></i>
                                30-April-19
                                </a></span>
                                <span class="description">REGISTERED ON</span>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-4 order-lg-3">
                          <div class="text-center mt-5 border-bottom">
                             <h3>Additional Details</h3>
                          </div>
                          <div class="card-profile-stats d-flex justify-content-center">
                             <div>
                                <span class="heading"><a href="#" class="badge badge-pill badge-success mb-1">
                                <i class="fa fa-certificate mr-1"></i>
                                Apache 2.0
                                </a></span>
                                <span class="description">LICENSE</span>
                             </div>
                             <div>
                                <span class="heading"><a href="#" class="badge badge-pill badge-default mb-1">
                                <i class="fa fa-code mr-1"></i>
                                Source Code
                                </a></span>
                                <span class="description">DOWNLOAD</span>
                             </div>
                             <div>
                                <span class="heading"><a href="#" class="badge badge-pill badge-primary mb-1">
                                <i class="fa fa-code-branch mr-1"></i>
                                v1.0
                                </a></span>
                                <span class="description">VERSION</span>
                             </div>
                          </div>
                          <div class="card-profile-stats d-flex justify-content-center">
                             <div class="my-auto">
                                <span class="heading"><a href="#" class="badge badge-pill badge-primary mb-1">
                                <i class="fa fa-ribbon mr-1"></i>
                                Generate
                                </a></span>
                                <span class="description">BADGE</span>
                             </div>
                             <div class="my-auto">
                                <span class="heading"><a class="badge badge-pill badge-secondary mb-1">
                                <i class="fa fa-calendar mr-1"></i>
                                1-April-19
                                </a></span>
                                <span class="description">Last Updated</span>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="mt-5 py-5 border-top text-start">
                       <div class="row justify-content-start">
                          <div class="col-lg-9">
                             <h1 id="splashy">Splashy</h1>
                             <p>A Splash screen library for Android made in Kotlin provides customizations and amazing animations by ease
                                <br>
                                <a href="https://bintray.com/rahuldange/Splashy/com.rbddevs.splashy/1.1.0/link"> <img src="https://api.bintray.com/packages/rahuldange/Splashy/com.rbddevs.splashy/images/download.svg?version=1.1.0" alt="Download" /> </a>
                                <img src="https://img.shields.io/badge/API-15%2B-brightgreen.svg" alt="SDK 15+" />
                             </p>
                             <div align="center">
                                <p align="center">Built with ❤︎ by
                                   <a href="https://github.com/rahuldange09">Rahul Dange</a>
                                </p>
                             </div>
                             <p><br></p>
                             <p><img src="https://raw.githubusercontent.com/rahuldange09/Splashy/master/images/slide_top_bottom.gif" alt="image" />&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="https://raw.githubusercontent.com/rahuldange09/Splashy/master/images/blink_logo.gif" alt="image" />
                             </p>
                             <h2 id="installation">💻 Installation</h2>
                             <p>Add this in your app's build.gradle file:</p>
                             <pre><code class="groovy language-groovy">dependencies {
       implementation 'com.rbddevs.splashy:splashy:1.1.0'
       implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk7:1.3.21+" // For JAVA Only
     }
     </code></pre>
                             <p>Or add Splashy as a new dependency inside your pom.xml</p>
                             <pre><code class="xml language-xml">&lt;dependency&gt;
         &lt;groupId&gt;com.rbddevs.splashy&lt;/groupId&gt;
         &lt;artifactId&gt;splashy&lt;/artifactId&gt;
         &lt;version&gt;1.1.0&lt;/version&gt;
         &lt;type&gt;pom&lt;/type&gt;
     &lt;/dependency&gt;
     </code></pre>
                             <h2 id="usage">❔ Usage</h2>
                             <p><strong>Basic Usage</strong></p>
                             <pre><code class=" kotlin language- kotlin">     Splashy(this)  // For JAVA : new Splashy(this)
                 .setLogo(R.drawable.splashy)
                 .setTitle("Splashy")
                 .show()
     </code></pre>
                             <p><strong>Advanced Usage</strong></p>
                             <pre><code class=" kotlin language- kotlin"> override fun onCreate(savedInstanceState: Bundle?) {
             super.onCreate(savedInstanceState)
             setContentView(R.layout.activity_main)
     
         // Call it immediately after any setContentView() for quick launch
         setSplashy()
     }
     
     fun setSplashy(){
         Splashy(this)        // For JAVA : new Splashy(this)
                 .setLogo(R.drawable.splashy)
                 .setTitle("Splashy")
             .setTitleColor("#FFFFFF")
             .setSubTitle("Splash screen made easy")
             .setProgressColor(R.color.white)
             .setBackgroundResource("#000000")
              .setFullScreen(true)
             .setTime(5000)
                 .show()        
     }
     </code></pre>
                             <p><strong>Splashy.hide()  AND  Splashy.onComplete(getComplete: OnComplete)</strong></p>
                             <pre><code class=" kotlin language- kotlin">fun checkLogin(){
         Splashy(this).setInfiniteDuration(true).show()   // For JAVA : new Splashy(this)
     
         // Some mock example response operation 
         Response.onResponse(object  : Response.onResponse{
             override fun onResponse(response){
                 Splashy.hide()              // Hide after operation
             }
     
         }
     
         // Listener for completion of splash screen
         Splashy.onComplete(object : Splashy.OnComplete {
                 override fun onComplete() {
                    Toast.makeText(this@MainActivity, "Logged In", Toast.LENGTH_SHORT).show()
                 }
     
             })
     }
     </code></pre>
                             <h2 id="customizationandattributes">🎨 Customization and Attributes</h2>
                             <p>All customizable attributes for Splashy</p>
                             <table>
                                <th>Attribute Name</th>
                                <th>Default Value</th>
                                <th>Description</th>
                                <tr>
                                   <td>setLogo(resId : Int)</td>
                                   <td>R.drawable.splashy</td>
                                   <td>The main logo for Splashy</td>
                                </tr>
                                <tr>
                                   <td>setTitle(resId : Int) <br> OR <br> setTitle(value : String)</td>
                                   <td>R.string.app_name <br> OR <br> "Splashy"</td>
                                   <td>The main title for Splashy either from strings.xml or string value</td>
                                </tr>
                                <tr>
                                   <td>setTime(timeInMs : Long)</td>
                                   <td>2000</td>
                                   <td>The time to show Splashy in Millisecond </td>
                                </tr>
                                <tr>
                                   <td>setSubTitle(resId : Int) <br> OR <br> setSubTitle(value : String)</td>
                                   <td>R.string.subtitle <br> OR <br> "Splash screen made easy"</td>
                                   <td>The subtitle for Splashy either from strings.xml or string value. This also enables subtitle.</td>
                                </tr>
                                <tr>
                                   <td>setInfiniteDuration(yes: Boolean)</td>
                                   <td>false</td>
                                   <td>Sets splash screen for infinite time if "true". Can be dismissed by calling Splashy.hide() </td>
                                </tr>
                                <tr>
                                   <td>showTitle(show: Boolean)</td>
                                   <td>true</td>
                                   <td>To show title or not.</td>
                                </tr>
                                <tr>
                                   <td>setTitleColor(color: Int) <br> OR <br> setTitleColor(colorValue: String)</td>
                                   <td>R.color.black <br> OR <br> "#000000"</td>
                                   <td>The color of title either resource id from strings.xml OR HEX value.</td>
                                </tr>
                                <tr>
                                   <td>setTitleSize(titleSize: Float)</td>
                                   <td>40F</td>
                                   <td>The size of title text in float.</td>
                                </tr>
                                <tr>
                                   <td>setSubTitleColor(color: Int) <br> OR <br> setSubTitleColor(colorValue: String)</td>
                                   <td>R.color.gray <br> OR <br> "#888888"</td>
                                   <td>The color of sub title either resource id from strings.xml OR HEX value.</td>
                                </tr>
                                <tr>
                                   <td>setSubTitleSize(titleSize: Float)</td>
                                   <td>16F</td>
                                   <td>The size of title text in float.</td>
                                </tr>
                                <tr>
                                   <td>setSubTitleItalic(italic : Boolean)</td>
                                   <td>true</td>
                                   <td>To set subtitle in italic style or not.</td>
                                </tr>
                                <tr>
                                   <td>showLogo(show: Boolean)</td>
                                   <td>true</td>
                                   <td>To show Logo or not.</td>
                                </tr>
                                <tr>
                                   <td>setLogoWHinDp(width: Int, height: Int)</td>
                                   <td>(200, 200)</td>
                                   <td>To set Logo Width(W) and Height(H) in DP.</td>
                                </tr>
                                <tr>
                                   <td>setLogoScaleType(scaleType: ImageView.ScaleType)</td>
                                   <td> ImageView.ScaleType.CENTER_CROP </td>
                                   <td>To set default scale type of Logo. <br> Eg. ImageView.ScaleType.CENTER_CROP,  CENTER, FIT_XY and others</td>
                                </tr>
                                <tr>
                                   <td>showProgress(show: Boolean)</td>
                                   <td>false</td>
                                   <td>To show circular progress bar or not.</td>
                                </tr>
                                <tr>
                                   <td>setProgressColor(resId: Int) <br> OR <br> setProgressColor(value: String)</td>
                                   <td>R.color.black <br> OR <br> "#000000"</td>
                                   <td>To set color of progressbar either resource id from strings.xml OR HEX value. Also enables progressbar</td>
                                </tr>
                                <tr>
                                   <td>setBackgroundColor(resId: Int) <br> OR <br> setBackgroundColor(value: String)</td>
                                   <td>R.color.white <br> OR <br> "#FFFFFF"</td>
                                   <td>The background of Splash screen either resource id from strings.xml OR HEX value.</td>
                                </tr>
                                <tr>
                                   <td>setBackgroundResource(resId: Int)</td>
                                   <td>R.drawable.bg</td>
                                   <td>The background resource for splash screen from drawable.</td>
                                </tr>
                                <tr>
                                   <td>setAnimation(type: Animation, duration: Long)</td>
                                   <td>(NONE,800)</td>
                                   <td>The amazing splash screen animations with duration. <br> Eg. (Splashy.Animation.SLIDE_IN_TOP_BOTTOM, 800) , Types: SLIDE_IN_TOP_BOTTOM,  SLIDE_IN_LEFT_BOTTOM,  SLIDE_IN_LEFT_RIGHT,  SLIDE_LEFT_ENTER,  GLOW_LOGO,  GLOW_LOGO_TITLE</td>
                                </tr>
                                <tr>
                                   <td>setFullScreen(yes: Boolean)</td>
                                   <td>false</td>
                                   <td>To show splashy full screen or not.</td>
                                </tr>
                                <tr>
                                   <td>show()</td>
                                   <td>--</td>
                                   <td>Finally shows splash screen. </td>
                                </tr>
                                <tr>
                                   <td>Splashy.onComplete(getComplete: OnComplete)</td>
                                   <td>--</td>
                                   <td>Listener when splash screen ends to perform some operations</td>
                                </tr>
                                <tr>
                                   <td>Splashy.hide()</td>
                                   <td>--</td>
                                   <td>Hides splash screen. Helpful when set to infinite duration. </td>
                                </tr>
                             </table>
                             <h1 id="license">📃 License</h1>
                             <pre><code>Copyright 2018 Rahul Dange
     
     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
     
        http://www.apache.org/licenses/LICENSE-2.0
     
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
     </code></pre>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <section class="section">
         <div class="container-fluid">
            <div class="card shadow mx-lg">
               <div class="px-4">
                  <div class="row justify-content-center">
                     
                     <div class="col-lg-12 align-self-lg-center py-4"> 
  
                          
                       <div id="disqus_thread"></div>
                       <script>
                       
                       /**
                       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                       /*
                       var disqus_config = function () {
                       this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                       this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                       };
                       */
                       (function() { // DON'T EDIT BELOW THIS LINE
                       var d = document, s = d.createElement('script');
                       s.src = 'https://flutterarsenal.disqus.com/embed.js';
                       s.setAttribute('data-timestamp', +new Date());
                       (d.head || d.body).appendChild(s);
                       })();
                       </script>
                       <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                  
  
  
                     </div>
                     
                     
                  </div>
               </div>
            </div>
         </div>
      </section>
                            
     </main>

{% endblock main %}