---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// @import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
// @import "minimal-mistakes"; // main partials


.github-issue-button {
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    color: #fff;
        background-position: -1px -1px;
        background-repeat: repeat-x;
        background-size: 110% 110%;
        border: 1px solid rgba(27,31,35,.2);
        border-radius: .25em;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        padding: 6px 12px;

}

.readme-content table{
  width: 80vw;
}

.readme-content img {
  max-width: 100%;
}





#donate-button {
  display: inline-block;
  margin: 20px;
  position: relative;
  text-decoration: none;
  color: #FFF
}

.donate {
  // background:linear-gradient(150deg, 15%#d782d9, #8f6ed5 70%, #281483  94%);
  background-position: 0 0;
  background-size: 200% 100%;
  border-radius: 4px;
  color: #fff;
  padding: 15px 65px 15px 15px;
  text-shadow: 1px 1px 5px #666;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}
.donate:after {
  border-left: 1px solid #004f3a;
  color: #003527;
  content: "\f004";
  font: 20px "FontAwesome";
  padding: 10px 0;
  padding-left: 15px;
  position: absolute;
  right: 16px;
  top: 7px;
  -webkit-transition: all 600ms 200ms;
  transition: all 600ms 200ms;
}
.donate:hover {
  background-position: -100% 0;
}
.donate:hover:after {
  border-left: 1px solid #008260;
  color: #fff;
  text-shadow: 0 0 10px #000;
}
